*{
    text-decoration: none !important;
    list-style: none;
    transition: all .3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0eeee;
}



.container{
    max-width: 1200px;
}

/* Navbar Style */
.nav-view{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.nav-view hr{
    opacity: 0.1;
}

.row-menu .nav-item{
    font-weight: 300;
}
.row-menu .nav-item.margin-item{
    margin-left: 30px;
}

.row-menu a{
    font-size: 13px;
}

.row-menu .box-sosmed i{
    font-size: 20px;
    color: #3A3845;
}

.row-menu .offcanvas-start{
    width: 60% !important;
}

/* Header Style */
.header{
    margin-top: 80px;
}

.header .img-box1{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.header .img-box1 .detail, .header .img-box2 .detail{
    background: linear-gradient(178.72deg, rgba(0, 0, 0, 0) 22.9%, #000000 114.41%);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header .img-box2{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.header .img-box1:hover .img-hero, .header .img-box2:hover .img-hero{
    transform: scale(1.1);
    object-fit: cover;
}

.header .img-box2 .category{
    font-size: 10px;
}

.header .img-box2 .title{
    font-size: 16px;
    color: rgb(240, 239, 239);
}
.header .img-box1 .title{
    color: rgb(240, 239, 239);
}

.header .img-box2 .name, .header .img-box2 .date{
    font-size: 12px;
}

/* Content STyle */
.content{
    margin-top: 100px;
}
.content .row-blog .card{
    max-width: 380px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

.content .title{
    font-size: 20px;
    color: #3A3845;
    font-weight: 800;
}

.content .name, .content .date, .content .body{
    font-weight: 300;
}
.content .card .img-box{
    max-width: 380px;
    max-height: 240px;
    overflow: hidden;
    border-radius: 20px;
}

.content .card .img-box:hover img{
    transform: scale(1.1);
    object-fit: cover;
}

.content .row-populer-wrapper .card{
    border-radius: 10px;
    border: none;
}

.content .row-populer .card{
    border: none;
}
.content .row-populer .card .title{
    font-size: 16px;
}





@media screen and (max-width: 400px) {
    .header{
        margin-top: 30px;
    }

    .header .img-box1 .category, .img-box2 .category{
        font-size: 8px;
    }

    .header .img-box1 .title, .img-box2 .title{
        font-size: 14px;
    }

    .header .img-box1 .name, .header .img-box1 .date, .header .img-box2 .name, .header .img-box2 .date{
        font-size: 10px;
    }
}

